<div class="project-card">
	<div class="project-card-left">
		<span class="project-card-left-date">{{ project.date }}</span>
	</div>
	<div class="project-card-right">
		<h3 class="project-card-right-title">{{ project.title }}</h3>
		<p class="project-card-right-description">{{ project.description }}</p>
		<div class="project-card-right-tech">
			<span
				class="project-card-right-tech-item"
				*ngFor="let tech of project.tech"
			>
				{{ tech }}
			</span>
		</div>
		<div class="project-card-right-links">
			<a
				*ngIf="project.demoLink"
				[href]="project.demoLink"
				class="project-card-right-link"
				target="_blank"
				rel="noopener noreferrer"
			>
				Ver Demo
			</a>
			<a
				*ngIf="project.codeLink"
				[href]="project.codeLink"
				class="project-card-right-link"
				target="_blank"
				rel="noopener noreferrer"
			>
				Ver Código
			</a>
		</div>
	</div>
</div>
