<nav class="breadcrumb-nav" *ngIf="breadcrumbs.length > 0">
	<ol class="breadcrumb-list">
		<li class="breadcrumb-item">
			<a routerLink="/admin/dashboard" class="breadcrumb-link">
				<span class="breadcrumb-icon">🏠</span>
				<span class="breadcrumb-text">Inicio</span>
			</a>
		</li>

		<li
			class="breadcrumb-item"
			*ngFor="let breadcrumb of breadcrumbs; let last = last"
		>
			<span class="breadcrumb-separator" *ngIf="!last">/</span>

			<a
				*ngIf="!last && breadcrumb.url"
				[routerLink]="breadcrumb.url"
				class="breadcrumb-link"
			>
				{{ breadcrumb.label }}
			</a>

			<span *ngIf="last || !breadcrumb.url" class="breadcrumb-current">
				{{ breadcrumb.label }}
			</span>
		</li>
	</ol>
</nav>
