<nav class="breadcrumb-nav" *ngIf="breadcrumbs.length > 0">
	<ol class="breadcrumb-list">
		<li
			class="breadcrumb-item"
			*ngFor="let breadcrumb of breadcrumbs; let last = last"
		>
			<span class="breadcrumb-separator" *ngIf="!last">/</span>

			<a
				*ngIf="!last && breadcrumb.url"
				[routerLink]="breadcrumb.url"
				class="breadcrumb-link"
			>
				<span class="breadcrumb-icon" *ngIf="breadcrumb.label === 'Inicio'"
					>🏠</span
				>
				<span class="breadcrumb-text">{{ breadcrumb.label }}</span>
			</a>

			<span *ngIf="last || !breadcrumb.url" class="breadcrumb-current">
				{{ breadcrumb.label }}
			</span>
		</li>
	</ol>
</nav>
