<div class="work-card">
	<div class="work-header">
		<h3 class="work-company">{{ work.position }}</h3>
		<span class="work-period">
			{{ work.startDate }} - {{ work.isCurrent ? 'Actualidad' : work.endDate }}
		</span>
	</div>
	<p class="company-link" *ngIf="work.companyUrl">
		<a [href]="work.companyUrl" target="_blank" rel="noopener noreferrer">
			{{ work.companyUrl.replace('https://', '').replace('http://', '') }}
		</a>
	</p>
	<div class="work-description">
		<p>{{ work.description }}</p>
		<div class="work-highlights">
			<h4>Responsabilidades principales:</h4>
			<ul>
				<li *ngFor="let achievement of work.achievements">
					{{ achievement }}
				</li>
			</ul>
		</div>
		<div class="tech-stack">
			<h4>Tecnologías utilizadas:</h4>
			<div class="tech-tags">
				<span class="tech-tag" *ngFor="let tech of work.tech">
					{{ tech }}
				</span>
			</div>
		</div>
	</div>
</div>
